[Unit]
Description=SmartFarm Sensor Collector
After=network.target mosquitto.service
Wants=mosquitto.service

[Service]
Type=simple
User=collector1
WorkingDirectory=/home/collector1/iot-sensor-project/raspberry_pi/src
ExecStart=/home/collector1/iot-sensor-project/raspberry_pi/.venv/bin/python3 /home/collector1/iot-sensor-project/raspberry_pi/src/mqtt_collector.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
